@import url(./bootstrap-5.3.2-dist/css/bootstrap.css);

body {
  margin: 0;
  padding: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #bebebe;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.titolo {
  text-align: left;
  margin-bottom: 15px;
}

.container {
  float: left;
}

.col{
  padding-left: 3px;
}

footer{
  text-align: center;
  background-color: aquamarine;
  margin: 0;
  padding: 10px;
}

footer p{
  margin: 0;
}

.segnale-image{
  height: auto;
  width: 200px;
}
